#img01 {
  top: 25px;
  bottom: 0;
  width: 260%;
  height: 85%;
  position: absolute;
  border-radius: 30%;
  border: 8px solid #555;
  z-index: 4;
}
#select {
  top: 157px;
  bottom: 0;
  left: 92px;
  width: 250%;
  height: 9%;
  position: absolute;
  z-index: 2;
  opacity: 25%;
}
#container {
  width: 170px;
  height: 500px;
  position: relative;
}
.separate{
  margin: 50px;
}