.col-md-4{
position: relative;
 padding-top: 10px;
  text-align: center;
   overflow: hidden;
}
#click01, #click02, #click03{
  position:absolute;
  left: 40%;
  top: 50%;
}
#img01, #img02, #img03{
border: 8px solid #555;
 height: 60%;
  width:90%;
  border-radius: 30%;
  position:absolute;
  left: 20px;
  top: 0;
}
.col-md-6 .content {
    visibility: visible;
    text-align: center;
      position: absolute; /* Position the background text */
      top: 10%; /* At the bottom. Use top:0 to append it to the top */
      left: 10%;
      background: rgb(0, 0, 0); /* Fallback color */
      background: rgba(0, 0, 0, 0.75); /* Black background with 0.5 opacity */
      color: #f1f1f1; /* Grey text */
      width: 65%;
      height: 35%;
      padding: 20px; /* Some padding */
}