.container-fluid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

#arc-slider {
  height: 140px !important;
  width: 530px !important;
  overflow:hidden;
  padding: 15px;
}
#arc-slider .rs-container {
  margin-left: -350px; /* here 350 is the radius value */
  left: 50%;
}
#arc-slider .rs-tooltip {
  top: 60px;
  
}
#arc-slider .rs-tooltip-text {
  font-size: 25px;
  
}
#arc-slider .rs-border{
  border-width: 0px;
  background-color: #e8eefa;
}

/* Appearance related changes */
.rs-control .rs-range-color {
  background-color: #54BBE0;
  
}
.rs-control .rs-path-color {
  background-color: #5f5f5f;
}
.rs-control .rs-handle {
  background-color: #51c5cf;
}

#summary {
    text-align: center;
    z-index: 5;
  outline: 8px solid #555;
  width: 25%;
  height: 350px;
  /* background: url("images/summary/01.png"); */
  background-size: cover;
  position: relative;
  }
  #sum1,#sum2,#sum3,#sum4,#sum5,#sum6,#sum7,#sum8,#sum9,#sum10,#sum11,#sum12,#sum13{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
.desc {
  font-size: large;
    visibility: visible;
    z-index:2;
    text-align: center;
      width: 30%; /* Full width */
      height: 10%;
      padding: 8px; /* Some padding */
      
}